<div class="container-fluid">
  <div class="text-center">
    <div
      class="error mx-auto"
      data-text="Hello"
      style="width: 16.5rem !important"
    >
      Hello
    </div>
    <p class="lead text-gray-800 mb-5">Welcome to Nolla</p>
    <p class="text-gray-500 mb-0"></p>
    <a href="index.html">Documentation</a>
  </div>
</div>
